<h3>Lab Requirements:</h3>
<div
    style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
    <table>
        <tr>
            <td>
                <pre style="margin: 0; line-height: 125%"> 1
    2
    3
    4
    5
    6
    7
    8
    9
   10
   11
   12
   13
   14
   15
   16
   17
   18
   19
   20
   21</pre>
            </td>
            <td>
                <pre style="margin: 0; line-height: 125%"><span style="color: #a61717; background-color: #e3d2d2">##</span> Exercises

   The goal of the lab is to <span style="color: #008800; font-weight: bold">do</span> put <span style="color: #008800; font-weight: bold">in</span> a rep doing everything that you did during the _Express - Middleware_ lesson by adding the following functionality to the <span style="color: #a61717; background-color: #e3d2d2">`</span>express-dev-skills<span style="color: #a61717; background-color: #e3d2d2">`</span> project:

   <span style="color: #0000DD; font-weight: bold">1</span>. Display an _Add Skill_ link on the **index** view that when clicked, displays a **<span style="color: #008800; font-weight: bold">new</span>** view that displays a form <span style="color: #008800; font-weight: bold">for</span> entering a <span style="color: #008800; font-weight: bold">new</span> Dev Skill.

   <span style="color: #0000DD; font-weight: bold">2</span>. When a <span style="color: #008800; font-weight: bold">new</span> Dev Skill is submitted, the skill is added to the <span style="color: #dd2200; background-color: #fff0f0">&quot;database&quot;</span> and redirect the user to the **index** view.

   <span style="color: #0000DD; font-weight: bold">3</span>. On the **show** view, display a _Delete Skill_ button (the submit button within a <span style="color: #a61717; background-color: #e3d2d2">`</span>&lt;form&gt;<span style="color: #a61717; background-color: #e3d2d2">`</span>) that when clicked, deletes the skill from the <span style="color: #dd2200; background-color: #fff0f0">&quot;database&quot;</span> and redirects to the **index** view.

   Note: All routes should follow those described <span style="color: #008800; font-weight: bold">in</span> the [RESTful/Resourceful routing chart](https:<span style="color: #888888">//gist.github.com/jim-clark/17908763db7bd3c403e6)</span>

   <span style="color: #a61717; background-color: #e3d2d2">#####</span> Hints

   - Be sure to install, require &amp; mount the <span style="color: #a61717; background-color: #e3d2d2">`</span>method-override<span style="color: #a61717; background-color: #e3d2d2">`</span> middleware.

   <span style="color: #a61717; background-color: #e3d2d2">##</span> Bonus Exercises

   <span style="color: #0000DD; font-weight: bold">1</span>. On the **show** view, display an _Edit Skill_ link that when clicked, displays an **edit** view that displays a form <span style="color: #008800; font-weight: bold">for</span> editing that Dev Skill.

   <span style="color: #0000DD; font-weight: bold">2</span>. When the edit Dev Skill form is submitted, the skill should be updated <span style="color: #008800; font-weight: bold">in</span> the <span style="color: #dd2200; background-color: #fff0f0">&quot;database&quot;</span> and redirect the user back to the **show** view.
   </pre>
            </td>
        </tr>
    </table>
</div>
